USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[DISH]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISH](
	[DISH_ID] [char](3) NOT NULL,
	[DISH_NAME] [nvarchar](30) NOT NULL,
	[DISH_PRICE] [int] NOT NULL,
	[CATEGORY_ID] [char](3) NOT NULL,
 CONSTRAINT [PK_DISH] PRIMARY KEY CLUSTERED 
(
	[DISH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DISH]  WITH CHECK ADD  CONSTRAINT [FK_DISH_MENU_CATEGORY] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[MENU_CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[DISH] CHECK CONSTRAINT [FK_DISH_MENU_CATEGORY]
GO
