USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[DISH_AVAILABLE]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISH_AVAILABLE](
	[BRANCH_ID] [char](3) NOT NULL,
	[DISH_ID] [char](3) NOT NULL,
	[IS_AVAILABLE] [bit] NOT NULL,
	[ABLE_DELIVERIED] [bit] NOT NULL,
 CONSTRAINT [PK_DISH_AVAILABLE] PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC,
	[DISH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DISH_AVAILABLE]  WITH CHECK ADD  CONSTRAINT [FK_DISH_AVAILABLE_DISH] FOREIGN KEY([DISH_ID])
REFERENCES [dbo].[DISH] ([DISH_ID])
GO
ALTER TABLE [dbo].[DISH_AVAILABLE] CHECK CONSTRAINT [FK_DISH_AVAILABLE_DISH]
GO
ALTER TABLE [dbo].[DISH_AVAILABLE]  WITH CHECK ADD  CONSTRAINT [FK_DISH_AVAILABLE_RESTAURANT_BRANCH] FOREIGN KEY([BRANCH_ID])
REFERENCES [dbo].[RESTAURANT_BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [dbo].[DISH_AVAILABLE] CHECK CONSTRAINT [FK_DISH_AVAILABLE_RESTAURANT_BRANCH]
GO
