USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[ORDER_DISH]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DISH](
	[ORDER_ID] [char](6) NOT NULL,
	[DISH_ID] [char](3) NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_ORDER_DISH] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDER_DISH]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DISH_DISH] FOREIGN KEY([DISH_ID])
REFERENCES [dbo].[DISH] ([DISH_ID])
GO
ALTER TABLE [dbo].[ORDER_DISH] CHECK CONSTRAINT [FK_ORDER_DISH_DISH]
GO
