USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[ONLINE_ORDER]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONLINE_ORDER](
	[OORDER_ID] [char](6) NOT NULL,
	[ARRIVAL_DATE] [date] NOT NULL,
	[ARRIVAL_TIME] [time](7) NOT NULL,
	[TABLE_NUMBER] [int] NOT NULL,
	[CUSTOMER_QUANTITY] [int] NOT NULL,
	[BRANCH_ID] [char](3) NOT NULL,
 CONSTRAINT [PK_ONLINE_ORDER] PRIMARY KEY CLUSTERED 
(
	[OORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ONLINE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ONLINE_ORDER_TABLE_] FOREIGN KEY([TABLE_NUMBER], [BRANCH_ID])
REFERENCES [dbo].[TABLE_] ([TABLE_NUM], [BRANCH_ID])
GO
ALTER TABLE [dbo].[ONLINE_ORDER] CHECK CONSTRAINT [FK_ONLINE_ORDER_TABLE_]
GO
