USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[BRANCH_RATING]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH_RATING](
	[RATING_ID] [char](6) NOT NULL,
	[SERVICE_RATING] [int] NOT NULL,
	[LOCATION_RATING] [int] NOT NULL,
	[PRICE_RATING] [int] NOT NULL,
	[DISH_QUALITY_RATING] [int] NOT NULL,
	[ENVIRONMENT_RATING] [int] NOT NULL,
	[COMMENT] [nvarchar](100) NOT NULL,
	[BRANCH_ID] [char](3) NOT NULL,
	[RATING_DATE] [date] NOT NULL,
	[INVOICE_ID] [char](6) NOT NULL,
 CONSTRAINT [PK_BRANCH_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BRANCH_RATING]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_RATING_INVOICE] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[BRANCH_RATING] CHECK CONSTRAINT [FK_BRANCH_RATING_INVOICE]
GO
ALTER TABLE [dbo].[BRANCH_RATING]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_RATING_RESTAURANT_BRANCH] FOREIGN KEY([BRANCH_ID])
REFERENCES [dbo].[RESTAURANT_BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [dbo].[BRANCH_RATING] CHECK CONSTRAINT [FK_BRANCH_RATING_RESTAURANT_BRANCH]
GO
