USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [char](6) NOT NULL,
	[FULL_NAME] [nvarchar](50) NOT NULL,
	[DATE_OF_BIRTH] [date] NOT NULL,
	[GENDER] [nvarchar](3) NOT NULL,
	[SALARY] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[TERMINATION_DATE] [date] NOT NULL,
	[DEPARTMENT_ID] [char](3) NOT NULL,
	[POSITION] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_DEPARTMENT] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_DEPARTMENT]
GO
