USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[MEMBERSHIP_CARD]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERSHIP_CARD](
	[CARD_ID] [char](6) NOT NULL,
	[CARD_TYPE] [nvarchar](20) NOT NULL,
	[CUSTOMER_ID] [char](6) NOT NULL,
	[DATE_ISSUED] [date] NOT NULL,
	[EMPLOYEE_ID] [char](6) NOT NULL,
	[POINTS] [int] NOT NULL,
	[CARD_STATUS] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MEMBERSHIP_CARD] PRIMARY KEY CLUSTERED 
(
	[CARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MEMBERSHIP_CARD]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERSHIP_CARD_CARD_TYPE] FOREIGN KEY([CARD_TYPE])
REFERENCES [dbo].[CARD_TYPE] ([TYPE])
GO
ALTER TABLE [dbo].[MEMBERSHIP_CARD] CHECK CONSTRAINT [FK_MEMBERSHIP_CARD_CARD_TYPE]
GO
ALTER TABLE [dbo].[MEMBERSHIP_CARD]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERSHIP_CARD_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[MEMBERSHIP_CARD] CHECK CONSTRAINT [FK_MEMBERSHIP_CARD_CUSTOMER]
GO
ALTER TABLE [dbo].[MEMBERSHIP_CARD]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERSHIP_CARD_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MEMBERSHIP_CARD] CHECK CONSTRAINT [FK_MEMBERSHIP_CARD_EMPLOYEE]
GO
