USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[RESTAURANT_BRANCH]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANT_BRANCH](
	[BRANCH_ID] [char](3) NOT NULL,
	[BRANCH_PHONE] [char](10) NOT NULL,
	[BRANCH_NAME] [nvarchar](40) NOT NULL,
	[BRANCH_ADDRESS] [nvarchar](70) NOT NULL,
	[OPEN_TIME] [time](7) NOT NULL,
	[CLOSE_TIME] [time](7) NOT NULL,
	[CAR_PARK] [varchar](3) NOT NULL,
	[MOTORBIKE_PARK] [varchar](3) NOT NULL,
	[MANAGER_ID] [char](6) NOT NULL,
	[AREA_ID] [char](3) NOT NULL,
 CONSTRAINT [PK_RESTAURANT_BRANCH] PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RESTAURANT_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANT_BRANCH_AREA] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[AREA] ([AREA_ID])
GO
ALTER TABLE [dbo].[RESTAURANT_BRANCH] CHECK CONSTRAINT [FK_RESTAURANT_BRANCH_AREA]
GO
ALTER TABLE [dbo].[RESTAURANT_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANT_BRANCH_EMPLOYEE] FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[RESTAURANT_BRANCH] CHECK CONSTRAINT [FK_RESTAURANT_BRANCH_EMPLOYEE]
GO
