USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[ONLINE_ACCESS_HISTORY]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONLINE_ACCESS_HISTORY](
	[DATE_ACCESSED] [date] NOT NULL,
	[TIME_ACCESSED] [time](7) NOT NULL,
	[CUSTOMER_ID] [char](6) NOT NULL,
	[ACCESS_DURATION] [time](7) NOT NULL,
 CONSTRAINT [PK_ONLINE_ACCESS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[DATE_ACCESSED] ASC,
	[TIME_ACCESSED] ASC,
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ONLINE_ACCESS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ONLINE_ACCESS_HISTORY_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[ONLINE_ACCESS_HISTORY] CHECK CONSTRAINT [FK_ONLINE_ACCESS_HISTORY_CUSTOMER]
GO
