USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[MENU_CATEGORY]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_CATEGORY](
	[CATEGORY_ID] [char](3) NOT NULL,
	[CATEGORY_NAME] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MENU_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
