USE [SUSHI_RESTAURANT]
GO
/****** Object:  Table [dbo].[OFFLINE_ORDER]    Script Date: 22/11/2024 13:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFLINE_ORDER](
	[OFORDER_ID] [char](6) NOT NULL,
	[TABLE_NUMBER] [int] NOT NULL,
	[EMPLOYEE_ID] [char](6) NOT NULL,
	[EMPLOYEE_RATING] [int] NOT NULL,
	[BRANCH_ID] [char](3) NOT NULL,
 CONSTRAINT [PK_OFFLINE_ORDER] PRIMARY KEY CLUSTERED 
(
	[OFORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OFFLINE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_OFFLINE_ORDER_EMPLOYEE1] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[OFFLINE_ORDER] CHECK CONSTRAINT [FK_OFFLINE_ORDER_EMPLOYEE1]
GO
ALTER TABLE [dbo].[OFFLINE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_OFFLINE_ORDER_TABLE_] FOREIGN KEY([TABLE_NUMBER], [BRANCH_ID])
REFERENCES [dbo].[TABLE_] ([TABLE_NUM], [BRANCH_ID])
GO
ALTER TABLE [dbo].[OFFLINE_ORDER] CHECK CONSTRAINT [FK_OFFLINE_ORDER_TABLE_]
GO
